@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply h-screen min-h-screen;
}

@keyframes clignotement {
    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }
}

.clignotement {
    animation: clignotement 1s infinite;
}

a {
    @apply !no-underline !text-inherit;
}
