@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply h-screen min-h-screen;
}

@keyframes clignotement {
    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }
}

.clignotement {
    animation: clignotement 1s infinite;
}

a {
    @apply !no-underline !text-inherit;
}


.card,
.btn {
    @apply !rounded-sm;
}

.card {
    @apply !shadow-sm;
}

.delete {
    background: url('../images/delete.png');
    background-position: top;
    cursor: pointer;
    height: 12px;
    width: 11px;

    &:hover {
        background-position: bottom;
    }
}

.report {
    background: url('../images/report.png');
    background-position: top;
    cursor: pointer;
    height: 12px;
    width: 10px;

    &:hover {
        background-position: bottom;
    }
}


.diviframe>* {
    width: 100% !important;
    height: 100% !important;
}
