<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>SnowTricks |
			{% block title %}{% endblock %}
		</title>
		<meta name="turbo-cache-control" content="no-cache">
		<meta name="author" content="BOYER Thomas">
		<meta name="copyright" content="BOYER Thomas">
		<meta name="identifier-url" content="{{ app.request.host }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="SnowTricks est un site collaboratif sur le snowboard qui répertorie la liste des tricks connus.">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="msapplication-TileColor" content="#000091">
		<meta name="theme-color" content="#000091">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% include "partials/_header.html.twig" %}
		<div class="pb-[82px] {{ app.request.attributes.get('_route') starts with 'security' ? 'mt-8 container mx-auto':''}}  md:mb-0">
			{% include '_toasts.html.twig' %}
			{% block body '' %}
		</div>
	</body>
</html>
